<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="YQSQLite.Properties.Settings.yqConnectionString" connectionString="data source=|DataDirectory|Data\YQ.db"
        providerName="System.Data.SQLite" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
